@model LoginDetails 


<link rel="stylesheet" href="~/scss/Login.css"/>

<div class="container">
    <div class="box1">
        <img src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2278957/1360/906/m1/fpnw/wm1/mqptscuzpkmfcfsoio60xllxmrnv8jh0zzetax9mp8qfs5fqwke5guda9gqmjetf-.jpg?1487097976&s=949f4b52d70d09daca06e96dfe29eece"/>
        @*<img src="https://wallpapercave.com/dwp2x/wc1813161.jpg"/>*@
    </div>
    <div class="box2">
        @*/////////////////////////////////////////*@

            
                        <form method="post">
                            <div class="border p-3 mt-4 container  align-self-center align-items-center" style="width:450px;background-color:white;border-color:orange;            box-shadow: 5px 10px 20px rgba(59, 58, 58);
            -moz-box-shadow: 5px 10px 20px rgba(59, 58, 58);
            -webkit-box-shadow: 5px 10px 20px rgba(59, 58, 58);
            -khtml-box-shadow: 5px 10px 20px rgba(59, 58, 58);">

                                <div style="vertical-align:middle" class="align-items-center">
                                    @if(ViewBag.NotExist == "User Not Exist")
                                    {
                                        <p class="text-danger">User Does not Exist</p>
                                    }
                                    @if(ViewBag.IncorrectPassword == "Incorrect Password")
                                    {
                                        <p class="text-danger">Incorrect Password</p>
                                    }
                                    @if(ViewBag.NoUser == "NoUser")
                                    {
                                        <p class="text-danger">Please Login!!</p>
                                    }
                                    @* @if(ViewBag.EmptyCredential == "Empty Credential")
                                    {
                                        <p class="text-danger">Please enter credentials</p>
                                    }*@
                                    <div style="display: flex; justify-content: flex-start; flex-direction:row; align-items: center">
                                     <h3 style="margin-right:250px">Log in</h3>
                                     <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/Image-login_btpq7r" style="left:50px ; height:60px;width:60px"/>
                                    </div>
                                    <br />
                                   
                                    <div class="mb-3">

                                        <input asp-for="UserName" placeholder="User Name" class="form-control" style="width:100%"/>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                     <div class="mb-3">
                                        @*<label asp-for="Password"></label>*@
                                        <input required asp-for="Password" placeholder="Password" class="form-control" type="password" style="width:100%"/>
                                    </div>
            
                                    <button type="submit" class="btn" style="width : 100%; background-color:crimson;color:white" >Log in</button>

                                    <p>New to JustEat? <a asp-controller="FoodSite" asp-action="CreateAccount" style="color:crimson">Sign up</a></p>

                                </div>

      
        
                            </div>

                        </form>






        @*/////////////////////////////////////////*@
    </div>
</div>


@*<link rel="stylesheet" href="~/css/style.css">

<div class="container2">

     <div class="footer_icons">
                          <div><a href="#"><img src="https://img.icons8.com/ios/2x/instagram-new.png" style=" width:30px;height:30px;position:absolute;"/></a></div>
                          <div><a href="#"><img src="https://img.icons8.com/ios/2x/twitter--v3.png" style=" width:30px;height:30px;position:absolute;"/></a></div>
                          <div><a href="#"><img src="https://img.icons8.com/ios/2x/youtube-play.png" style=" width:30px;height:30px;position:absolute;"/></a></div>
                          <div><a href="#"><img src="https://img.icons8.com/ios/2x/linkedin-circled--v2.png" style=" width:30px;height:30px;position:absolute;"/></a></div>
                          <div><a href="#"><img src="https://img.icons8.com/ios/2x/facebook-circled--v4.png" style=" width:30px;height:30px;position:absolute;"/></a></div>
     </div>

</div>*@

