.container {
  width: 100%;
  background-color: bisque;
}
.container .order {
  width: 100%;
  background-color: antiquewhite;
}
.container .order hr {
  height: 5px;
  width: 700px;
  color: orange;
  margin: auto;
}
.container .order .flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  margin-top: 40px;
}
.container .order .flex1 #left {
  float: left;
  width: 150px;
  text-align: center;
}
.container .order .flex1 #right {
  float: right;
  width: 120px;
  text-align: center;
}
.container .order .flex2 {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}
.container .order .flex2 #left {
  float: left;
  width: 150px;
  text-align: center;
}
.container .order .flex2 #center {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}
.container .order .flex2 #right {
  float: right;
  width: 100px;
  text-align: center;
}

/*PEN STYLES*/
